<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234125177131-7pg3p6ktq76vh3tl3como4pkobi6seuc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234125177131-7pg3p6ktq76vh3tl3como4pkobi6seuc</string>
	<key>API_KEY</key>
	<string>AIzaSyDoQoLElsqGdlTsxWLS10hW-IAPNSDupZs</string>
	<key>GCM_SENDER_ID</key>
	<string>234125177131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studySphereFrontend</string>
	<key>PROJECT_ID</key>
	<string>study-sphere-d9642</string>
	<key>STORAGE_BUCKET</key>
	<string>study-sphere-d9642.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234125177131:ios:e68039c5709d1e33c3156e</string>
</dict>
</plist>